@using ACS.AMS.DAL.DBModel
@using ACS.AMS.DAL
@using ACS.AMS.WebApp.Models
@using ACS.AMS.DAL.DBContext

@model BasePageModel
@{
    ViewBag.Title = "Create";
    EntryPageHelper entryPage = new EntryPageHelper(Model)
    {
        Url = this.Url
    };
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/lib/kendo-ui/styles/kendo.common.min.css")" rel="stylesheet" type="text/css" />
<script src="~/lib/kendo-ui/js/jquery.min.js"></script>
<script src="~/lib/kendo-ui/js/jszip.min.js"></script>
<script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
<script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>

<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/ThemeBuilderDesign/dist/css/ThemeBuilderDesign.css" rel="stylesheet" />
<link href="~/css/ThemeBuilder.custom.css" rel="stylesheet" type="text/css" />
<script src="~/ACSScript/Common.js"></script>
<script src="~/ACSScript/ACSDynamicReport.js"></script>
@{
    //var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
    var path = Url.Content("~/lib/kendo-ui/js/messages/kendo.messages." + "en-GB" + ".min.js");
}

<script src="@path"></script>
<script>
function OnSuccessUpload(e) {
    debugger;
    var fileName = e.response.ImageName;
     var root = e.response.rootpath;
    var name = e.response.fileName;
    if (document.getElementById('StampPath') || $('#StampPath').length > 0) {
        $("#StampPath").val(fileName);

    }
    if (document.getElementById('rootPath') || $('#rootPath').length > 0) {
        $("#rootPath").val(root);

    }
        if (document.getElementById('UploadedDocumentPath') || $('#UploadedDocumentPath').length > 0) {
        $("#UploadedDocumentPath").val(fileName);

    }
   
      if (document.getElementById('StampPath') || $('#StampPath').length > 0) {
     var ImgPath = $('#StampImage').attr('src');
        ImgPath = ImgPath.substring(0, ImgPath.lastIndexOf('/') + 1);
        if (name != "" && name != null && name != undefined) {
            $('#StampImage').attr('src', ImgPath + name);
            document.getElementById('StampImage').style.display = 'block';
        }
        else {
            document.getElementById('StampImage').style.display = 'none';
        }
      }
       
}

function OnImageSuccessUpload(e) {
    debugger;
    var fileName = e.response.ImageName;
     var root = e.response.rootpath;
    var name = e.response.fileName;
    
     if (document.getElementById('UploadedImagePath') || $('#UploadedImagePath').length > 0) {
        $("#UploadedImagePath").val(fileName);

    }
       if (document.getElementById('CatalogueImage') || $('#CatalogueImage').length > 0) {
        $("#CatalogueImage").val(fileName);

    }
       if (document.getElementById('ImageID') || $('#ImageID').length > 0) {
     var ImgPath = $('#ImageID').attr('src');
        ImgPath = ImgPath.substring(0, ImgPath.lastIndexOf('/') + 1);
        if (name != "" && name != null && name != undefined) {
            $('#ImageID').attr('src', ImgPath + name);
            document.getElementById('ImageID').style.display = 'block';
        }
        else {
            document.getElementById('ImageID').style.display = 'none';
        }
      }
}
function Clearimage() {
         if (document.getElementById('StampPath') || $('#StampPath').length > 0) {
             $("#StampPath").val("");
             document.getElementById('StampImage').src = "#";
             $('label[id*="imageRemove"]').text('');
         }
         if (document.getElementById('ImageID') || $('#ImageID').length > 0) {
             $("#ImageID").val("");
             document.getElementById('ImageID').src = "#";
             $('label[id*="imageRemove"]').text('');
         }
     }

      function addMastePageClicked(pageName) {

          url = "/MasterPage/Create?pageName=" + pageName;
          popupItemOpenWindow(url, "Create" + pageName);
    }
    function popupItemOpenWindow(url, titleCon) {

        var wnd = $("#QuickMaster").data("kendoWindow");
        if (wnd == null)
            wnd = parent.window.$("#window").data("kendoWindow");
        wnd.refresh({
            url: url,
            iframe: true
        });

        wnd.center();
        wnd.open();
        wnd.title(titleCon);
    }
     function OnPopupItmWindowClose() {
        var w = window.parent.$("#QuickMaster").data("kendoWindow");
        w.close();
    }
</Script>

@using (Html.AjaxBeginForm("QuickCreate","MasterPage",DisplayHelper.GetAjaxOptions(Model)))
{
    @Html.Hidden("PageName", Model.PageName)
    @Html.Hidden("CurrentPageID", Model.EntityInstance.CurrentPageID)
    @Html.Hidden("QuickCreation", 1)
    @Html.Hidden("ParentControlName",(string)ViewBag.ParentControlName)

    if(string.Compare(Model.PageName,"Company")!=0)
    {
      @Html.Hidden("CompanyID", "1003")
    }

        <div class="list-container">
            <div class="row k-text-error">
             @*   @Html.ValidationSummary() *@
                @Html.ValidationMessage("12") 
            </div>

            @{
                entryPage.CreatePageControls(Html, this,false,true);
            }

        <div class="col-xl-12 text-right add-action-btns" style="padding-top: 10px;">
            @Html.Kendo().Button().ThemeColor(ThemeColor.Primary).Content("Save").Name("loginButton").HtmlAttributes(new { type="submit" })
            @Html.Kendo().Button().ThemeColor(ThemeColor.Secondary).Content("Close").Name("cancelButton").HtmlAttributes(new { onclick="OnPopupItmWindowClose()" })
        </div>
            </div>
@(Html.Kendo().Window()
               .Name("QuickMaster")
               .Width(1300)
               .Visible(false)
               .Actions(actions => actions.Close())
               .Height(800)
               .Draggable()
               .Resizable()
               .Iframe(true)
               .Modal(true)
       .Scrollable(false)
       )
}

<script language="javascript" type="text/javascript">
    $(function () {
        setPageHeading('Create @Language.GetPageTitle(Model.PageTitle)');
        setInitialFocus('@entryPage.FirstFieldName');

        if (parent.document.getElementById("SelectedParentName") != null) {

            if (parent.document.getElementById("SelectedParentName").value) {
                var controlName = $("#PageName").val();
                if (controlName == "Product") {
                    controlName = "Category";
                }
                else {
                    controlName = "Parent" + controlName;
                }
                controlName = controlName + "ID";
                if (parent.document.getElementById("SelectedParentID").value > 0) {
                    document.getElementById("NameValue").value = parent.document.getElementById("SelectedParentName").value;
                    document.getElementById(controlName).value = parent.document.getElementById("SelectedParentID").value;
                }
            }
        }

        // /* Override the JQuery and kendo validations to avoid date field format issue*/
        // jQuery.extend(jQuery.validator.methods, {
        //     date: function (value, element) {
        //         return this.optional(element) || kendo.parseDate(value, "@CultureHelper.ConfigureDateFormat") !== null;
        //     },
        // });

        // kendo.ui.validator.rules.mvcdate = function (input) {
        //     return input.val() === "" || kendo.parseDate(input.val(), "@CultureHelper.ConfigureDateFormat") !== null;
        // };

        if (document.getElementById('EffectiveStartDate') || $('#EffectiveStartDate').length > 0) {
            $('#EffectiveStartDate').removeAttr("field-validation-error");
            $('#EffectiveendDate').removeAttr("field-validation-error");
        }
        
        setEmptyValue("PurchaseDate", "kendoDatePicker");
        setEmptyValue("ComissionDate", "kendoDatePicker");
        setEmptyValue("WarrantyExpiryDate", "kendoDatePicker");
    });
    function showSuccessMessage(message1) {
    alert(message1);
    
}
    function setEmptyValue(ctrlName, kendoCtrl) {
        if (document.getElementById(ctrlName) || $('#' + ctrlName).length > 0) {
            if ($("#" + ctrlName).data(kendoCtrl) != null) {
                $("#" + ctrlName).data(kendoCtrl).value("");
            }
        }
    }

    function CancelPage(controllerName, pageName) { 
        if ( pageName.toUpperCase() == "LOCATION") { 
            //pageName.toUpperCase() == "CATEGORY" ||
              var treeview =parent.window.$("#treeview").data("kendoTreeView");  
              treeview.enable(true);
        }
        loadDynamicIndexPage(controllerName, pageName);
    }
</script>
<script src="~/ACSScript/Common.js"></script>