@model ACS.AMS.WebApp.Models.ChangePasswordModel
@using ACS.AMS.DAL.DBModel
@using ACS.AMS.DAL
@using ACS.AMS.WebApp.Models
@using ACS.AMS.DAL.DBContext



    @using (Html.AjaxBeginForm("ChangePassword", "Account", DisplayHelper.GetAjaxOptions()))
    {

        <div class="list-container">
            <div class="row">
                <div class="col-xl-8">
                    <label for="fullname">@Html.Label("Old Password")</label>
                     @Html.Kendo().TextBoxFor(model => model.OldPassword).HtmlAttributes(new { Class = "k-textbox", maxlength = 50, style = "width: 100%;", autocomplete = "off",type="Password" })
                    <p class="errmsg">@Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })</p>
                </div>
                <div class="col-xl-8">
                <label for="fullname">@Html.Label("New Password")</label>
                      @Html.Kendo().TextBoxFor(model => model.NewPassword).HtmlAttributes(new { Class = "k-textbox", maxlength = 50, style = "width: 100%;", autocomplete = "off" ,type="Password"})
                    <p class="errmsg">@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })</p>
                </div>
                <div class="col-xl-8">
                    <label for="fullname">@Html.Label("Confirm Password")</label>
                   @Html.Kendo().TextBoxFor(model => model.ConfirmPassword).HtmlAttributes(new { Class = "k-textbox", maxlength = 50, style = "width: 100%;", autocomplete = "off",type="Password" })
                    <p class="errmsg">@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })</p>
                </div>
                @{string errormsg = "";

                    if (ViewData["ErrorMesg"] != null)
                    {
                        errormsg = ViewData["ErrorMesg"].ToString();
                    }
                }
                <span style="color:red;font-size:16px;font-weight:100;">
                    @errormsg
                </span>
                <div class="col-12 text-right add-action-btns">
                    <button type="submit" value="Save" title="Save" class="saveButton">Save</button>
                    <button type="button" value="Cancel" title="Cancel" class="cancelButton" onclick="loadDefaultPage('@Url.Action("Dashboard", "Dashboard")')">Cancel</button>
                </div>
            </div>
        </div>

}
<script language="javascript" type="text/javascript">
    $(function () {
        setPageHeading("Change Password");
        
    });
</script>



