@using ACS.AMS.DAL.DBModel
@using ACS.AMS.DAL
@using ACS.AMS.WebApp.Models
@using ACS.AMS.DAL.DBContext

@model LanguageContentTable
@{
    ViewBag.Title = "Create";
}

@using (Html.AjaxBeginForm(DisplayHelper.GetAjaxOptions()))
    {
  
        <div class="list-container">
            <div class="row">
                <div class="col-xl-4">
                    <label for="fullname">@Html.LabelFor(model => model.MessageIdentification, true)</label>
                    @(
                        Html.Kendo().TextBoxFor(model => model.MessageIdentification)
                        .HtmlAttributes(new { Class = "k-textbox", maxlength = 50, style = "width: 100%;" })
                    )
                    <p class="errmsg">@Html.ValidationMessageFor(model => model.MessageIdentification, "", new { @class = "text-danger" })</p>
            
                    <div id="errorCode"></div>
                </div>
                 @{
                                    var languageTypes = LanguageTable.GetAllLanguageTable(AMSContext.CreateNewContext());
                                    int cnt = -1;
                                  }
                                  @foreach (LanguageTable language in languageTypes)
                                    {
                                      <div class="col-xl-4">
                                            @Html.Label(Language.GetString("LanguageContent",language.CultureSymbol))
                                            @if(language.IsDefault==true){
                                                  <span style='color: red'>* </span>
                                                 } 
                                             @(Html.Kendo().TextBox().Name("LanguageContent_"+language.LanguageID)
                                             .HtmlAttributes(new {Class="k-textbox" ,style = "width: 100%;",@maxlength = "100", data_val = "true", data_val_required = "LanguageContent is required.",data_vaAMSg_replace="true",generated="true"})
                                                )
                                         @Html.ValidationMessage("LanguageContent_"+language.LanguageID)             
                                       </div>
                                    }
                          
                <div class="col-12 text-right add-action-btns">
                    <button type="button" value="Cancel" title="Cancel" class="cancelButton" onclick="loadIndexPage('LanguageContent')">Cancel</button>
                    <button type="submit" value="Save" title="Save" class="saveButton">Save</button>
                </div>
      </div>
       </div>
}
<script language="javascript" type="text/javascript">
    $(function () {
        setPageHeading("LanguageContent Create");
      
    });
  
</script>



