@using ACS.AMS.DAL.DBModel
@using ACS.AMS.DAL
@using ACS.AMS.WebApp.Models
@using ACS.AMS.DAL.DBContext
@using ACS.WebAppPageGenerator.Models.SystemModels;
@using ACS.AMS.WebApp;

@using Kendo.Mvc.UI

@model BasePageModel
@{
    int currentPageId = Model.EntityInstance.CurrentPageID;
    
    EntryPageHelper entryPage = new EntryPageHelper(Model)
    {
        AddControlsInSingleColumnForLessItems = false
    };
}
<script>
    function checkedValChanged() {
        debugger;
        var numerictextboxVal = $("#EndValue").data("kendoNumericTextBox");
        if ($("#UnEndValue").is(':checked')) {
              numerictextboxVal.readonly();
        }
     else{
          numerictextboxVal.enable(true);
     }

    }
   function addItemClicked() {
        debugger;
        var flag = true;
        var start = $("#StartValue").data("kendoNumericTextBox").value();
        if (start == null || start <= 0) {
            flag = false;
            if ($("#validateStart").val() != "") {
                $("#errStartVal").after('<span style="color:red;font-weight:normal;" id="validateStart">Start Value is Required</span>');
            }
        }
        else {
            $("#validateStart").remove();
        }
         var End = $("#EndValue").data("kendoNumericTextBox").value();
         var check=$("#UnEndValue").is(':checked');
        if ((End == null || End <= 0) && !check) {
             
            flag = false;
            if ($("#validateEnd").val() != "") {
                $("#errEndVal").after('<span style="color:red;font-weight:normal;" id="validateEnd">End Value is Required</span>');
            }
        }
        else {
            $("#validateEnd").remove();
        }
         var duration = $("#Duration").data("kendoNumericTextBox").value();
        if (duration == null || duration <= 0) {
            flag = false;
            if ($("#validateDuration").val() != "") {
                $("#errDuration").after('<span style="color:red;font-weight:normal;" id="validateDuration">Duration is Required</span>');
            }
        }
        else {
            $("#validateDuration").remove();
        }

        if (flag)
        {
            if( $("#UnEndValue").is(':checked'))
            {
                 var data = {
                    id: $("#LineItemIdentityID").val(),
                    currentPageID: '@Model.EntityInstance.CurrentPageID',
                    StartValue:  $("#StartValue").data("kendoNumericTextBox").value(),
                    EndValue: '*',
                    UnEndValue: $("#UnEndValue").is(':checked'),
                    Duration:  $("#Duration").data("kendoNumericTextBox").value(),
                    pageName: '@Model.PageName',
                    screen:'Create'
                }
            }
            else 
            {
                var data = {
                    id: $("#LineItemIdentityID").val(),
                    currentPageID: '@Model.EntityInstance.CurrentPageID',
                    StartValue:  $("#StartValue").data("kendoNumericTextBox").value(),
                     EndValue: $("#EndValue").data("kendoNumericTextBox").value(),
                    UnEndValue: $("#UnEndValue").is(':checked'),
                    Duration:  $("#Duration").data("kendoNumericTextBox").value(),
                    pageName: '@Model.PageName',
                      screen:'Create'
                }
            }
            Sever_PostData("/DepreciationClass/AddLineItem", data, addItemDetails_Success, addItemDetails_Failure);
        }
        else
        {
            return flag;
        }
      
    }
    function addItemDetails_Success(data) {
        if (data=="")
        {
            //clear the item Form
            $("#LineItemIdentityID").val("");
            $("#StartValue").data("kendoNumericTextBox").value("");
            $("#EndValue").data("kendoNumericTextBox").value("");
            $("#Duration").data("kendoNumericTextBox").value("");
            $('#UnEndValue').attr('checked', false);
            $("#GridLineItemDetailGrid").data('kendoGrid').dataSource.read();
        }
        else
        {
            showErrorMessage(data);
        }
       

    }
    function addItemDetails_Failure(data) {
        showErrorMessage(data.responseText);
        //setInitialFocus("UniformSetID");
    }
    function DeleteLineItem(id) {
        debugger
        $("#LineItemIdentityID").val("");
        $("#StartValue").data("kendoNumericTextBox").value("");
            $("#EndValue").data("kendoNumericTextBox").value("");
            $("#Duration").data("kendoNumericTextBox").value("");
        $('#UnEndValue').attr('checked', false);
        deleteRecord("DepreciationClass", "GridLineItemDetailGrid", id, '/DepreciationClass/_DeleteLineItem', "currentPageID=" + '@Model.EntityInstance.CurrentPageID');
    }
    function EditLineItem(id) {
        $.ajax({
            contentType: 'application/json',
            type: 'GET',
            async: false,
            url: '/DepreciationClass/LoadEditData',
            data: {
                currentPageID: '@Model.EntityInstance.CurrentPageID',
                id: id
            },
            success: function (data) {
                debugger;
                if (data.Success == true) {
                    $("#LineItemIdentityID").val(data.result[0].id);
                    $("#StartValue").data("kendoNumericTextBox").value(data.result[0].StartValue);
                    $("#Duration").data("kendoNumericTextBox").value(data.result[0].Duration);
                    if (data.result[0].UnEndValue) {
                        $('#UnEndValue').attr('checked', true);
                        var numerictextboxVal = $("#EndValue").data("kendoNumericTextBox");
                           numerictextboxVal.readonly();
                    }
                    else {
                        $('#UnEndValue').attr('checked', false);
                        $("#EndValue").data("kendoNumericTextBox").value(data.result[0].EndValue);
                    }

                    
                }
            },
            error: function () {
            }

        });
       
    }
    function DeleteMultipleGridLineItemClassDetailRecord(pageName, gridName, recordID, url, additionalData) {
        $("#LineItemIdentityID").val("");
       $("#StartValue").data("kendoNumericTextBox").value("");
            $("#EndValue").data("kendoNumericTextBox").value("");
            $("#Duration").data("kendoNumericTextBox").value("");
        $('#UnEndValue').attr('checked', false);
        DeleteMultipleGridLineItemDetailRecord(pageName, gridName, recordID, url, additionalData);
    }
    
    
</script>
<style>
    #UniformSetID-list .photo{
    box-shadow: inset 0 0 30px rgba(0,0,0,.3);
    margin: 0 10px 0 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    }
</style>

     @using (Html.AjaxBeginForm("DepreciationClassCreate", "DepreciationClass", DisplayHelper.GetAjaxOptions()))
    {
    @Html.Hidden("PageName", Model.PageName)
    @Html.Hidden("CurrentPageID", currentPageId)

    
        <div class="list-container">
        <div class="row k-text-error">
            @Html.ValidationMessage("12")
        </div>
       <div class="col-xl-8">

             <label for="fullname">@Html.FieldLabel("Class Name",true)</label> :
              @(Html.TextBox("ClassName",null, new { Class = "form-control" })
                  )
             
              <div id="errClassName"></div>

          </div>
        <div class="row" id="uniformItemSingle">
            <div class="col-xl-3">
                <label for="fullname">@Html.FieldLabel("Start Value", true)</label> :
                @(
                    Html.Kendo().NumericTextBox<decimal>()
                    .Name("StartValue")
                    .Format("#.".PadRight(2 + 2, '0'))
                    .Min(0).Max(9999999999)
                    .Decimals(2)
                    .HtmlAttributes(new { maxlength = "10", style = "width: 100%;" })
                    )
                <div id="errStartVal"></div>

                @Html.Hidden("LineItemIdentityID")
            </div>
            <div class="col-xl-3">
                <label for="fullname">@Html.FieldLabel("End Value", true)</label> :
                @(
                    Html.Kendo().NumericTextBox<decimal>()
                    .Name("EndValue")
                    .Format("#.".PadRight(2 + 2, '0'))
                    .Min(0).Max(9999999999)
                    .Decimals(2)
                    .HtmlAttributes(new { maxlength = "10", style = "width: 100%;" })
                    )

                <div id="errEndVal"></div>

            </div>
            <div class="col-xl-3">
                <label for="fullname">@Html.FieldLabel("Unlimited end Value", false)</label> :
                @Html.CheckBox("UnEndValue", false, new { onchange = "checkedValChanged()", ID = "UnEndValue" })

            </div>
            <div class="col-xl-3">
                <label for="fullname">@Html.FieldLabel("Duration(in Month)", true)</label> :
                @(
                    Html.Kendo().NumericTextBox()
                    .Name("Duration")
                    .Format("#")
                    .Decimals(0)
                    .HtmlAttributes(new { maxlength = "10", style = "width: 100%;" })
                    )

                <div id="errDuration"></div>

            </div>


            <div class="col-xl-12 text-right add-action-btns" style="padding-top: 10px;">
                @Html.Kendo().Button().ThemeColor(ThemeColor.Secondary).Content("Add").Name("addButton1").HtmlAttributes(new { onclick = $"addItemClicked()" })
            </div>
        </div>
        <div class="row" style="padding-top:10px">
            <div class="col-xl-12">
                @{
                    string deleteAdditionalData = null;
                    deleteAdditionalData = (deleteAdditionalData + "&" ?? string.Empty) + "pageName=" + "DepreciationClass" + "&currentPageID=" + currentPageId;
                    var defaultToolBar = this.Html.Kendo().ToolBar()
                    .Name("ToolBar")
                    .HtmlAttributes(new { style = "width: 100%;" })
                    .Items(items =>
                    {
                        items.Add().Type(Kendo.Mvc.UI.CommandType.Spacer);

                        if (SessionUser.HasRights(RightNames.AssetTransaction, UserRightValue.Delete))//addNewButtonRequired)
                        {
                            items.Add().Type(Kendo.Mvc.UI.CommandType.Button).Text(Language.GetButtonText("Delete")).Id(Guid.NewGuid().ToString())
                        .Template("<a class='' style='min-width: 25px;' title='" + Language.GetToolTipText("DeleteItemButton") + "' href='javascript:DeleteMultipleGridLineItemClassDetailRecord"
                        + "(\"DepreciationClass\", \"" + "GridLineItemDetailGrid" + "\", \"" + "" + "\", \"" +
                        Url.Action("DeleteAllLineItem")
                        + "\", \"" + deleteAdditionalData + "\")'>"
                        + "<img src='/css/images/delete-icon.png' alt ='icon' style='Width:15px;height:20px'/></a>")
                        .HtmlAttributes(new
                        {
                            @controllerName = "DepreciationClass",
                            @actionName = "DeleteAllLineItem"
                        });//.HtmlAttributes(new { @class = "k - button - solid - primary" });


                        }
                    });
                }


                @(Html.Kendo().Grid<LineItemModel>()
                    .Name("GridLineItemDetailGrid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.id).Width(100).Visible(false);
                        columns.Bound(p => p.id).Width(20).Filterable(false)
                        .ClientTemplate("<input type='checkbox' id=='#=id#' value='#=id#' onclick='enableGridLineItemRow(this)' class='GridLineItemGridClass' />")
                        .ClientHeaderTemplate("<input id='selectAllLineItemID' name='selectAllLineItemID' type='checkbox' onclick='selectAllGridLineItemClicked(this)'  />")
                        .HeaderHtmlAttributes(new { @style = "font-weight:bold; text-align: lieft" })
                        .Sortable(false).Filterable(false);

                    columns.Bound(p => p.StartValue).Width(200).HeaderHtmlAttributes(new { @style = "font-weight:bold" }).Title(@Language.GetString("StartValue"));
                    columns.Bound(p => p.EndValue).Width(200).HeaderHtmlAttributes(new { @style = "font-weight:bold" }).Title(@Language.GetString("EndValue"));
                    columns.Bound(p => p.Duration).Width(100).HeaderHtmlAttributes(new { @style = "font-weight:bold" }).Title(@Language.GetString("Duration(in Month)"));

                        columns.Template("<center><a class='k-button-icontext' id='#=id#' href='javascript:EditLineItem(#=id#)'><img src='/css/images/Edit-icon.png' alt='icon' style='Width:15px;height:20px' /></a></center></text>")
                        .Title(Language.GetString("Edit")).Width(50);
                        columns.Template("<center><a class='k-button-icontext' id='#=id#' href='javascript:DeleteLineItem(#=id#)'><img src='/css/images/delete-icon.png' alt='icon' style='Width:15px;height:20px' /></a></center></text>")
                        .Title(Language.GetString("Delete")).Width(50);
                    })
                    .Filterable(filtering => filtering.Enabled(true).Operators(o =>
                    {
                        o.ForString(t => t.Clear().Contains("Contains").DoesNotContain("Does Not Contains").IsEqualTo("Equal To")
                        .IsNotEqualTo("Not EqualTo").StartsWith("Starts With").EndsWith("Ends With"));
                    })
                    )
                    .ToolBar(toolbar =>
                    {
                        toolbar.ClientTemplate(defaultToolBar.ToClientTemplate().ToString());
                    })
                    .Sortable().Selectable()
                    .Pageable()
                    .DataSource(datasource => datasource.Ajax()
                    .Model(model =>
                    {
                        model.Id(p => p.id);
                        model.Field(p => p.id).Editable(false);
                    })
                    .Read(read => read.Action("_LineItemindex", "DepreciationClass", new { currentPageID = Model.EntityInstance.CurrentPageID })

                    )
                    ))
            </div>
        </div>

        <div class="col-xl-12 text-right add-action-btns" style="padding-top: 10px;">
            @Html.Kendo().Button().ThemeColor(ThemeColor.Primary).Content("Save").Name("loginButton").HtmlAttributes(new { type="submit"})
            @Html.Kendo().Button().ThemeColor(ThemeColor.Secondary).Content("Cancel").Name("cancelButton").HtmlAttributes(new { onclick=$"LoadIndexPage('DepreciationClass','{Model.PageName}')" })
        </div>
    </div>
}
<script language="javascript" type="text/javascript">
    $(function () {
        setPageHeading('Create @Language.GetPageTitle(Model.PageTitle)');
        setInitialFocus('@entryPage.FirstFieldName');
    });
  
    
</script>

<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.unobtrusive.min.js"></script>