@model dynamic
@using ACS.AMS.DAL

    <script>
        function ListBoxParam() {
            return {
                currentPageID: '@ViewBag.CurrentPageID',
            };
        }
    </script>
    <td>
        <p style="font-style:oblique"> @Html.Label("Filter Field Details")</p>
    </td>
    <td>
        <table class="table table-striped table-bordered" style="width: 100%" id="filterFieldsTable">
            <tr style="text-align: center;">
                <th style="width: 3%">@Language.GetString("Sel") </th>       <!-- Checkbox For Enabling Filter -->
                <th style="width: 35%">@Language.GetString("FieldName") </th>
                <th style="width: 35%">@Language.GetString("FilterField") </th> <!-- Drop down from FieldTypeTable -->
                <th style="width: 20%">@Language.GetString("FieldType") </th>
                <th style="width: 17%">@Language.GetString("Mandatory") </th>
            </tr>
            @{
            AMSContext db = AMSContext.CreateNewContext();
                int pageLinesCount = 10;
                int pageNumber = ViewBag.PageNumber;

                int startingLineCout = pageNumber * pageLinesCount;
            var model = ViewBag.FilterDataModel as ACS.AMS.WebApp.Models.ReportTemplate.FilterFieldDashBoardDataModel;

                var filterLineItems = model.FilterFields.Skip(startingLineCout).Take(pageLinesCount);
                var allFields = model.Fields;

                int totalAvailableFilterRecods = model.FilterFields.Count();
                int sno = startingLineCout + 1;
            AMSContext _db = AMSContext.CreateNewContext();
                    }
        @{
            foreach (var v in filterLineItems)
            {
                string fieldDesc = null;
                if (v.FieldTypeID != null && v.FieldTypeID != 0)
                {
                    var fieldItem = AFieldTypeTable.GetItem(db, (int)v.FieldTypeID);
                    fieldDesc = fieldItem.FieldTypeDesc;
                }

              
                <tr style="border: 1px solid black;">
                    <td style="border:1px solid black;">
                        @Html.CheckBox("isEnabled_" + v.QueryField, v.EnableFilter, new { disabled = "disabled" })
                    </td>
                    <td style="border:1px solid black;">  @v.QueryField </td>
                    <td style="border:1px solid black;">
                        @Html.TextBox("DashboardTemplateName", AFieldTypeTable.GetFieldTypeDesc(_db, v.FieldTypeID ), new { disabled = "disabled", Class = "form-control" })
                    </td>
                    <td style="border:1px solid black;">
                        @Html.TextBox("DashboardTemplateName", ScreenFilterTypeTable.GetScreenFilterTypeName(_db, v.ScreenFilterTypeID), new { disabled = "disabled", Class = "form-control" })
                    </td>
                    <td style="border:1px solid black;">  @Html.CheckBox("IsMandatory_" + v.QueryField, v.IsMandatory, new { disabled = "disabled" })</td>
                </tr>
                <script>
                    enableFilterItem('@v.QueryField ');
                </script>
                            sno++;
                        }
                    }
                <tr>
                    @{ 
                        //Pagination related methods
                        bool firstRequired = pageNumber > 0;
                        bool prevRequired = pageNumber > 0;
                        bool nextRequired = pageNumber < (totalAvailableFilterRecods / pageLinesCount);
                        bool lastRequired = pageNumber < (totalAvailableFilterRecods / pageLinesCount);
                    }
                    <td colspan="13" style="text-align: right;">
                        @if (firstRequired)
                        {
                    <a href="javascript:DashboardTemplate_loadFilterLineItemsPage(0, true)">First</a>
                        }
                        else
                        {
                        }  &nbsp; &nbsp;
                        @if (prevRequired)
                        {
                    <a href="javascript:DashboardTemplate_loadFilterLineItemsPage(@pageNumber - 1 , true)">Previous</a>
                        }
                        else { }  &nbsp; &nbsp;
                        @if (nextRequired)
                        {
                    <a href="javascript:DashboardTemplate_loadFilterLineItemsPage(@pageNumber + 1 , true)">Next</a>
                        }
                        else { }  &nbsp; &nbsp;
                        @if (lastRequired)
                        {
                    <a href="javascript:DashboardTemplate_loadFilterLineItemsPage(@totalAvailableFilterRecods/@pageLinesCount , true)">Last</a>
                }
                else { }
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Records @(startingLineCout + 1)  to @(startingLineCout + filterLineItems.Count())  of @totalAvailableFilterRecods
                        </td>
                </tr>
        </table>
    </td>
