@using ACS.AMS.DAL.DBModel
@using ACS.AMS.DAL
@using ACS.AMS.WebApp.Models
@using ACS.AMS.DAL.DBContext
@model LanguageContentTable
@{
    ViewBag.Title = "Details";
}

@using (Html.AjaxBeginForm(DisplayHelper.GetAjaxOptions()))
    {
    @Html.HiddenFor(c => c.LanguageContentID)
 
        <div class="list-container">

            <div class="row">
                <div class="col-xl-4">
                    <label for="fullname">@Html.LabelFor(model => model.MessageIdentification, true)</label>
                    @Model.MessageIdentification

                </div>
               
                                @{
                                    var languageTypes = LanguageTable.GetAllLanguageTable(AMSContext.CreateNewContext());
                                    int cnt = -1;
                                  }
                                  @foreach (LanguageTable language in languageTypes)
                                    {
                                      <div class="col-xl-4">
                                            @Html.Label(Language.GetString("LanguageContent",language.CultureSymbol))
                                               @{
                                                   var description = LanguageContentLineItemTable.GetLanguageContentLineItem(AMSContext.CreateNewContext(), Model.LanguageContentID,language.LanguageID); 
                                               }
                          
                                                @if (description!=null)
                                                {
                                                      @description.LanguageContent
                                                 }
                                                else
                                                {
                                                       
                                                }
                                                    
                                       </div>
                                    }
                          

                <div class="col-12 text-right add-action-btns">

                    <button type="button" value="Cancel" title="Cancel" class="cancelButton" onclick="loadIndexPage('LanguageContent')">Cancel</button>
                </div>
            </div>
        <div class="form-group col-md-12">
            <label for="fullname">@Html.Label("Audit Log")</label>
            <a href="#" class="dropdown-toggle" id="AuditLogToggle" data-bs-toggle="collapse" data-bs-target="#AuditLogCollapse"
               aria-expanded="false" aria-controls="AuditLogCollapse">
                <span title='Audit Log'></span>
            </a>
        </div>
        <div class="collapse" id="AuditLogCollapse">
            @{
                EntryPageModel newModel = new EntryPageModel()
                {

                    EntityInstance = Model as BaseEntityObject,
                    ControllerName = this.GetType().Name.Substring(0, this.GetType().Name.Length - "Controller".Length),
                };
                Html.RenderPartial("BaseViews/AuditLogSingleView", newModel);
            }
        </div>

        </div>
}
<script language="javascript" type="text/javascript">
    $(function () {
        setPageHeading("LanguageContent Detail");

    });
</script>



