@model int 
@{

    var Product = ProductTable.GetItem(AMSContext.CreateNewContext(), Model);
}
<style>
    .horizontal-line {
        border-bottom: 1px solid black;
        width: 100%; /* Adjust width as needed */
        margin: 20px 0; /* Adjust spacing as needed */
        font-size: 20px;
    }

</style>
 <table class="table-bordered asset-tab">
    <tr>
        <td style="vertical-align:top" width="50%">
            <h4 class="assetDocument">@Html.Label(Language.GetString("ProductCatalogueImage")) </h4>
            @if (Product.CatalogueImage != null)
            {
                <img id="CategoryCatalogueImage" src="@Url.Content("/" + Product.CatalogueImage)" alt="No Image" width="100%" height="300px" style="margin-top:5px;">
            }

            </td>
        <td style="vertical-align:top" width="50%">
            
           
            <table>
                <tr>
                    <td>
                        <h4 class="assetDocument">@Html.Label(Language.GetString("ProductCode")) </h4>
                    </td>
                    <td colspan="3">
                        @if (Product.ProductCode != null)
                        {
                            <b> @Product.ProductCode</b>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="assetDocument">@Html.Label(Language.GetString("ProductName")) </h4>
                    </td>
                    <td>
                        @if (Product.ProductName != null)
                        {
                            <b> @Product.ProductName</b>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class="assetDocument">@Html.Label(Language.GetString("VirtualBarcode")) </h4>
                    </td>
                    <td>
                        @if (Product.VirtualBarcode != null)
                        {
                            <b> @Product.VirtualBarcode</b>
                        }
                    </td>
                </tr>
                <tr>
                    <td
                    <td>
                        <h4 class="assetDocument">@Html.Label(Language.GetString("Specification")) </h4>
                    </td>
                    <td>
                        @if (Product.Specification != null)
                        {
                            <b> @Product.Specification</b>
                        }
                    </td>
                  
                   
                </tr>
            </table>
        </td>
        </tr>
     </table>

    
