@using ACS.AMS.DAL.DBModel
@model User_RoleTable
@{
    ViewBag.Title = "Edit";
    string description = ViewBag.Description;

}
@using (Html.AjaxBeginForm(DisplayHelper.GetAjaxOptions()))
    {   
    @Html.HiddenFor(c => c.RoleID)
    @Html.HiddenFor(c => c.ApplicationID)
    @Html.HiddenFor(c => c.DisplayRole)

        <div class="list-container">
            <div class="row">
                <div class="col-xl-4">

                    <label for="fullname">@Html.LabelFor(model => model.RoleName, true)</label>
                    @(Html.Kendo().TextBoxFor(model => model.RoleName).HtmlAttributes( new { Class = "k-textbox", maxlength = 50, style = "width: 100%;" }))
                    <p class="errmsg">@Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })</p>
                </div>
                @Html.HiddenFor(c=>c.Description)
               @* <div class="col-xl-4">
                    <label for="fullname">@Html.LabelFor(model => model.Description, true)</label>
                    @(Html.Kendo().TextBoxFor(model => model.Description).HtmlAttributes( new { Class = "k-textbox", maxlength = 50, style = "width: 100%;" }))
                    <p class="errmsg">@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })</p>
                </div>*@
                <div class="col-xl-4">
                    <label for="fullname">@Html.LabelFor(model => model.IsActive, true)</label>
                    @Html.CheckBoxFor(model => model.IsActive)
                  @*  @Html.EditorFor(model => model.IsActive)*@
                    <p class="errmsg">@Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })</p>
                </div>
                <div class="col-xl-4">
                    <label for="fullname">@Html.LabelFor(model => model.IsDeleted, true)</label>
                    @Html.EditorFor(model => model.IsDeleted)
                    <p class="errmsg">@Html.ValidationMessageFor(model => model.IsDeleted, "", new { @class = "text-danger" })</p>
                </div>

                <div class="col-12 text-right add-action-btns">

                    <button type="button" value="Cancel" title="Cancel" class="cancelButton" onclick="loadIndexPage('Role')">Cancel</button>
                    <button type="submit" value="Save" title="Save" class="saveButton">Save</button>
                </div>
            </div>
        <div class="form-group col-md-12">
            <label for="fullname">@Html.Label("Audit Log")</label>
            <a href="#" class="dropdown-toggle" id="AuditLogToggle" data-bs-toggle="collapse" data-bs-target="#AuditLogCollapse"
               aria-expanded="false" aria-controls="AuditLogCollapse">
                <span title='Audit Log'></span>
            </a>
        </div>
        <div class="collapse" id="AuditLogCollapse">
            @{
                EntryPageModel newModel = new EntryPageModel()
                {

                    EntityInstance = Model as BaseEntityObject,
                    ControllerName = this.GetType().Name.Substring(0, this.GetType().Name.Length - "Controller".Length),
                };
                Html.RenderPartial("BaseViews/AuditLogSingleView", newModel);
            }
        </div>
        </div>
}

<script language="javascript" type="text/javascript">
    $(function () {
        setPageHeading("Role Edit");
        setPageHeadingSub("Edit");
    });
</script>
